div {
  background-color: #FFFF33;
  text-align: center;
  position: absolute;
  width: 500px;
  height: 630px;
  top: 5px;
  left: 400px;
	  }
	  
.returnToView {
  position: absolute; 
  top: 640px; 
  left:440px; 
  background-color: #3366CC; 
  color: white; 
  font-weight: bold; 
  width: 14em; 
  height: 3em; 
  border-radius: .9em;'
}

.printButton {
  position: absolute; 
  top: 640px; 
  left:660px; 
  background-color: #3366CC; 
  color: white; 
  font-weight: bold; 
  width: 14em; 
  height: 3em; 
  border-radius: .9em;'
}

@media only screen and (max-width: 768px) {
  [class="receipt"] {
    position: absolute;
	top: 0%;
	left: 0%;
    width: 140%;
	height: 120%;		
  }
}

@media only screen and (max-width: 768px) {
  [class="returnToView"] {
    position: absolute;
	top: 121%;
	left: 40%;		
  }
}

@media only screen and (max-width: 768px) {
  [class="printButton"] {
    position: absolute;
	top: 129%;
	left: 40%;		
  }
}

@media only screen and (max-width: 770px) {
  [class="display"] {
    width: 100%;
  }
}