body {
  background-color: #E6E6FA;
}

.yearSelection {
  width: 200px;
}

.buttonReg {
  background-color: #3366CC; 
  color: white; 
  font-weight: bold; 
  width: 11em; 
  height: 3em; 
  border-radius: .6em;
}

.submit {
  background-color: #3366CC; 
  color: white; 
  font-weight: bold; 
  width: 14em; 
  height: 3em; 
  border-radius: .9em;
}

.returnHomepageAdmin {
  background-color: #3366CC; 
  color: white; 
  font-weight: bold; 
  width: 14em; 
  height: 3em; 
  border-radius: .9em;
}

.availability {
  width: 100px;
}

.container_admin {
  box-shadow: 35px 25px 40px #FFFFFF, /*dim orizzontale, dim verticale, raggio sfumatura, colore (linea) */ 
              -35px -25px 40px #FFFFFF,
               30px -25px 40px #FFFFFF, 
              -30px  25px 40px #FFFFFF;
			  
  background-color: #FFFFFF;
  position: absolute;
  text-align: center;
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 0px;
  overflow: auto;
  top: 25%;
  width: 100%
}

.container_view {
  box-shadow: 60px 95px 80px #FFFFFF, /*dim orizzontale, dim verticale, raggio sfumatura, colore (linea) */ 
              -35px -35px 40px #FFFFFF,
               50px -35px 30px #FFFFFF, 
              -55px  90px 80px #FFFFFF;
			  
  background-color: #FFFFFF;
  position: absolute;
  text-align: center;
  top: 25%;
  width: 100%;
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 0px;
  overflow: auto;
}

.containerReg {
  width: 100%;
  position: absolute;
  top: 10%; 
  background-color: #FAEBD7 ;
  overflow: auto;
}

@media only screen and (max-width: 770px) {
    [class = 'container_admin'] {
        position: absolute;
		top: 90%;
        width: 100%;		
    }
}

@media only screen and (max-width: 770px) {
    [class = 'container_view'] {
        position: absolute;
		top: 90%;
        width: 100%;		
    }
}

@media only screen and (max-width: 770px) {
    [class = 'containerReg'] {
        position: absolute;
		top: 25%;
        width: 100%;	
        overflow: auto;		
    }
}

@media only screen and (max-width: 770px) {
    [class = 'home_admin'] {
        position: absolute;
		top: 85%;
		left: 1%;
		width: 92%;
    }
}

