.button {
  background-color: #3366CC; 
  color: white; 
  font-weight: bold; 
  width: 14em; 
  height: 3em; 
  border-radius: .9em;
  border-width: 1px;
  margin: 2px 0px 0px 0px;
}

.submit {
  background-color: #3366CC; 
  color: white; 
  font-weight: bold; 
  width: 11em; 
  height: 3em;
  border-width: 1px;  
  border-radius: .6em;
}

.viewBooks {
  box-shadow: 35px 25px 40px #FFFFFF, /*dim orizzontale, dim verticale, raggio sfumatura, colore (linea) */ 
              -35px -25px 40px #FFFFFF,
               30px -25px 40px #FFFFFF, 
              -30px  25px 40px #FFFFFF;
			  
  background-color: #FFFFFF;
  float: left;
  position: relative;
  text-align: center;
  top: 20vh;
  width: 100%;
  border-color: #CCFFCC;
  border-style: solid;
  border-width: 0px;
  overflow: auto;
}

.viewUserBooks {
  box-shadow: 35px 25px 40px #FFFFFF, /*dim orizzontale, dim verticale, raggio sfumatura, colore (linea) */ 
              -35px -25px 40px #FFFFFF,
               30px -25px 40px #FFFFFF, 
              -30px  25px 40px #FFFFFF;
			  
  background-color: #FFFFFF;
  float: left;
  position: relative;
  text-align: center;
  top: 20vh;
  width: 100%;
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 0px;
  overflow: auto;
}

.home_user {
  position: absolute;
  margin-top: 5%;
  width: 100%;
}

.form-horizontal {
   left: 38%; 
   width: 25%; 
   position: relative; 
   top: 20%; 
   background-color: #FAEBD7; 
   height: auto;
}

@media only screen and (max-width: 840px) {
  [class="home_user"] {
    position: absolute;
	top: 43vh;
	width: auto;
  }
}

@media only screen and (max-width: 768px) {
  [class="viewBooks"] {
    position: relative;
	top: 16vh;
    width: 100%;		
  }
}

@media only screen and (max-width: 768px) {
  [class="viewUserBooks"] {
    position: relative;
	top: 16vh;
    width: 100%;		
  }
}

@media only screen and (max-width: 880px) {
  [class="form-horizontal"] {
    position: relative;
	top: 20%;
	left: 0%;
	width: 100%;	
    height: auto;
  }
}

.display {
    width: 100%;
	margin: 0px;
}




