.home_admin {
  position: absolute;
  top: 15%;
  width: 100%;
}

.buttonReg {
  background-color: #3366CC; 
  color: white; 
  font-weight: bold; 
  width: 11em; 
  height: 3em; 
  border-radius: .6em;
}

.submit {
  background-color: #3366CC; 
  color: white; 
  font-weight: bold; 
  width: 14em; 
  height: 3em; 
  border-radius: .9em;
  border-width: 1px;
}

.returnHomepageAdmin {
  background-color: #3366CC; 
  color: white; 
  font-weight: bold; 
  width: 14em; 
  height: 3em;
  border-width: 1px;  
  border-radius: .9em;
  margin: 2px 0px 0px 0px;
}

.container_admin {
  box-shadow: 35px 25px 40px #FFFFFF, /*dim orizzontale, dim verticale, raggio sfumatura, colore (linea) */ 
              -35px -25px 40px #FFFFFF,
               30px -25px 40px #FFFFFF, 
              -30px  25px 40px #FFFFFF;
			  
  background-color: #FFFFFF;
  position: relative;
  text-align: center;
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 0px;
  overflow: auto;
  top: 20vh;
  width: 100%;
}

.container_view {
  box-shadow: 35px 25px 40px #FFFFFF, /*dim orizzontale, dim verticale, raggio sfumatura, colore (linea) */ 
              -35px -25px 40px #FFFFFF,
               30px -25px 40px #FFFFFF, 
              -30px  25px 40px #FFFFFF;
			  
  background-color: #FFFFFF;
  position: relative;
  text-align: center;
  top: 20vh;
  width: 100%;
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 0px;
  overflow: auto;
}

.form-horizontal {
  left: 38%;
  width: 25%;
  position: relative;
  top: 20%; 
  height: auto;
}
  
@media only screen and (max-width: 770px) {
  [class="container_admin"] {
    position: relative;
	top: 15vh;
    width: 100%;		
  }
}

@media only screen and (max-width: 770px) {
  [class="container_view"] {
    position: relative;
	top: 15vh;
    width: 100%;		
  }
}

@media only screen and (max-width: 880px) {
  [class="form-horizontal"] {
    position: relative;
	top: 20%;
	left: 0%;
	width: 100%;	
    height: auto;
  }
}

@media only screen and (max-width: 840px) {
  [class="home_admin"] {
    position: absolute;
	top: 70vh;
	left: 1%;
	width: auto;
  }
}

.display {
    width: 100%;
	margin: 0px;
}

