.container {
  text-align: center;
  width: 350px;
  height: 200px;
  position: absolute;
  top: 45%;
  left: 45%;
  margin: -100px 0 0 -120px; /*lato superiore, destro, inferiore, sinistro */
}

.container2 {
  width: 330px;
  height: 570px;
  position: absolute;
  top: 25%;
  left: 52%;
  margin: -110px 0 0 -175px;
  background-color: #FAEBD7 ;
}

}

.background {
  top: 100%;
  left: 100%;
  background-size: cover;
  
}

.container_admin {
  box-shadow: 15px 20px 40px #CCFFFF, /*dim orizzontale, dim verticale, raggio sfumatura, colore (linea) */ 
              -15px -20px 40px #CCFFFF,
               10px -20px 40px #CCFFFF, 
              -10px  20px 40px #CCFFFF;
			  
  background-color: #CCFFFF;
  position: absolute;
  text-align: center;
  border-color: #CCFFCC;
  border-style: solid;
  border-width: 0px;
  overflow: auto;
  bottom: 300px;
  left: 400px;
}

.container_admin2 {
  box-shadow: 15px 20px 40px #CCFFFF, /*dim orizzontale, dim verticale, raggio sfumatura, colore (linea) */ 
              -15px -20px 40px #CCFFFF,
               10px -20px 40px #CCFFFF, 
              -10px  20px 40px #CCFFFF;
			  
  background-color: #CCFFFF;
  position: absolute;
  text-align: center;
  top: 25%;
  left: 55%;
  margin-top: -20px;
  margin-left: -440px;
  border-color: #CCFFCC;
  border-style: solid;
  border-width: 0px;
  overflow: auto;
}

.container_user {
  box-shadow: 15px 20px 40px #CCFFFF, /*dim orizzontale, dim verticale, raggio sfumatura, colore (linea) */ 
              -15px -20px 40px #CCFFFF,
               10px -20px 40px #CCFFFF, 
              -10px  20px 40px #CCFFFF;
			  
  background-color: #CCFFFF;
  position: absolute;
  text-align: center;
  top: 25%;
  left: 45%;
  margin-top: -20px;
  margin-left: -450px;
  border-color: #CCFFCC;
  border-style: solid;
  border-width: 0px;
  overflow: auto;
}

.title { 
    position: absolute;
  top: 1%;
  left: 35%; 
}
