* {
  box-sizing: border-box;
}
		
.col-6 {width: 86%;}

[class*="col-"] {
  float: left;
}
	
.containerLogin {
  text-align: center;
  width: 350px;
  height: auto;
  position: absolute;
  top: 45%;
  left: 45%;
  margin: -100px 0 0 -120px; 
}

.submit {
  background-color: #33CC66; 
  margin: -18px 0px 0px -4.7px;
  width: 220px; 
  height: 2.5em; 
  border-width: 0.7px;
  font-size: 15px;
  color: white; 
  border-radius: .5em;
}

@media only screen and (max-width: 768px) {
  [class="containerLogin"] {
    position: absolute;
    top: 45%;
	left: 47%;
    width: 80%;	
    height: 50%;
  }
}


@media only screen and (max-width: 360px) {
  [class="containerLogin"] {
    position: absolute;
    top: 45%;
	left: 50%;
    width: 80%;	
    height: 50%;
  }
}

@media only screen and (max-width: 320px) {
  [class="containerLogin"] {
    position: absolute;
	top: 45%;
	left: 53%;
    width: 80%;	
    height: 50%;
  }
}

@media only screen and (max-width: 768px) {
  [class="title"] {
    font-family: 'Lucida Calligraphy', cursive;
  }
}