body {
  background-color: #E6E6FA;
}

.containerReg {
  width: 330px;
  height: 570px;
  position: absolute;
  top: 25%;
  left: 52%;
  margin: -110px 0 0 -175px;
  background-color: #FAEBD7 ;
}

.button {
  background-color: #3366CC; 
  color: white; 
  font-weight: bold; 
  width: 14em; 
  height: 3em; 
  border-radius: .9em;
}

.submit {
  background-color: #3366CC; 
  color: white; 
  font-weight: bold; 
  width: 11em; 
  height: 3em; 
  border-radius: .6em;
}

.viewBooks {
  box-shadow: 20px 30px 60px #FFFFFF, /*dim orizzontale, dim verticale, raggio sfumatura, colore (linea) */ 
              -20px -40px 40px #FFFFFF,
               30px -30px 40px #FFFFFF, 
              -20px  40px 40px #FFFFFF;
			  
  background-color: #FFFFFF;
  position: absolute;
  text-align: center;
  top: 25%;
  left: 12%;
  border-color: #CCFFCC;
  border-style: solid;
  border-width: 0px;
  overflow: auto;
}

.viewUserBooks {
  box-shadow: 15px 20px 40px #FFFFFF, /*dim orizzontale, dim verticale, raggio sfumatura, colore (linea) */ 
              -15px -20px 40px #FFFFFF,
               20px -20px 40px #FFFFFF, 
              -20px  20px 40px #FFFFFF;
			  
  background-color: #FFFFFF;
  position: absolute;
  text-align: center;
  top: 25%;
  left: 55%;
  margin-top: -20px;
  margin-left: -440px;
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 0px;
  overflow: auto;
}

.home_user {
  position: absolute;
  top: 20%;
  left: 20%;
}

