.body {
  background-color: #FFFF99;
}

.containerReg {
  width: 330px;
  height: 570px;
  position: absolute;
  top: 25%;
  left: 52%;
  margin: -110px 0 0 -175px;
  background-color: #FAEBD7 ;
}

.button {
  background-color: #3366CC; 
  color: white; 
  font-weight: bold; 
  width: 14em; 
  height: 3em; 
  border-radius: .9em;
}

.submit {
  background-color: #3366CC; 
  color: white; 
  font-weight: bold; 
  width: 11em; 
  height: 3em; 
  border-radius: .6em;
}

.viewBooks {
  box-shadow: 15px 20px 40px #CCFFFF, /*dim orizzontale, dim verticale, raggio sfumatura, colore (linea) */ 
              -15px -20px 40px #CCFFFF,
               10px -20px 40px #CCFFFF, 
              -10px  20px 40px #CCFFFF;
			  
  background-color: #CCFFFF;
  position: absolute;
  text-align: center;
  top: 25%;
  left: 45%;
  margin-top: -20px;
  margin-left: -450px;
  border-color: #CCFFCC;
  border-style: solid;
  border-width: 0px;
  overflow: auto;
}

.viewUserBooks {
  box-shadow: 15px 20px 40px #CCFFFF, /*dim orizzontale, dim verticale, raggio sfumatura, colore (linea) */ 
              -15px -20px 40px #CCFFFF,
               10px -20px 40px #CCFFFF, 
              -10px  20px 40px #CCFFFF;
			  
  background-color: #CCFFFF;
  position: absolute;
  text-align: center;
  top: 25%;
  left: 55%;
  margin-top: -20px;
  margin-left: -440px;
  border-color: #CCFFCC;
  border-style: solid;
  border-width: 0px;
  overflow: auto;
}

.title { 
    position: absolute;
  top: 1%;
  left: 35%; 
}
